body {
    font-family: Arial, sans-serif;
    background: url('imagens/cachorro4.jpg') no-repeat center center fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.7);
    /* Fundo preto com opacidade para sobrepor a imagem */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.form-container {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

form label {

    display: block;
    margin-bottom: 6px;
    font-weight: bold;

}

form input[type="text"],
form input[type="number"],
form select,
form textarea {

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    resize: vertical;
    transition: all 0.3s ease;

}

form textarea {

    height: 100px;
    resize: both;
    transition: all 0.3s ease;

}

form input[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #7e3a51;
    color: #f2f2f2;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s ease;
}

form input[type="button"]:hover {
    background-color: #ace2d4;
    transform: scale(1.045);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {/* Oculta o Contador do input number */
    -webkit-appearance: none;
    margin: 0;
}

b {
    color: red;
}

#opcional {
    font-size: 0.7em;
    color: gray;
}

#termo{
    color: gray;
    font-size: 0.645em;
}